.l-menu {
  position: absolute;
  background: var(--color-white);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
  transition: 0.3s;
  clip-path: circle(12% at 100% 0);
  &--open {
    clip-path: circle(200% at 100% 0);
    background: var(--color-primary);
  }
  &__mobile {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    &-content {
      display: flex;
      flex-direction: column;
    }
  }
}
